.notFoundDiv{
    position: relative;
    z-index: 30;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.notFoundText{
    color:orangered;
    font-size: 4rem;
}



